In [1]:
import pandas as pd

In [8]:
# series (its like a column)
values = [1,2,3,4,5]

s = pd.Series(values, index = ['a','b','c','d','a'])

print(s)

a    1
b    2
c    3
d    4
a    5
dtype: int64

In [9]:
# gives me all the values pointed by an index

s.loc['a']

a    1
a    5
dtype: int64

In [18]:
# Data Frame

df = pd.DataFrame ({
    'name' : ['Neko', 'Kim Dokja', 'Yoo Jung-Hyeok'],
    'round': [0, 0, 3],
    'role' : ['idk', 'prophet', 'regressor']
})
df = df.set_index('name')
df

                round       role
name
Neko                0        idk
Kim Dokja           0    prophet
Yoo Jung-Hyeok      3  regressor

In [20]:
# set_index returns a dataframe

df.loc['Neko']

round      0
role     idk
Name: Neko, dtype: object

In [22]:
df1 = pd.DataFrame({
    'a': [1,2,3]
}, index = [0,1,2])

df2 = pd.DataFrame({
    'a': [10,20,30]
}, index = [1,2,0])

In [23]:
df1 + df2

    a
0  31
1  12
2  23

In [24]:
df = df.reset_index()

In [26]:
df.to_csv('data.csv', index=None)

In [28]:
pd.read_csv('data.csv', index_col=0)

                round       role
name
Neko                0        idk
Kim Dokja           0    prophet
Yoo Jung-Hyeok      3  regressor

In [29]:
from sklearn.datasets import fetch_california_housing

In [30]:
data = fetch_california_housing(as_frame=True).frame

In [39]:
# top 10 rows
data.head(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,2.267
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,2.611

In [38]:
# last 10 rows
data.tail(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
20630,3.5673,11.0,5.932584,1.134831,1257.0,2.824719,39.29,-121.32,1.120
20631,3.5179,15.0,6.145833,1.141204,1200.0,2.777778,39.33,-121.40,1.072
20632,3.1250,15.0,6.023377,1.080519,1047.0,2.719481,39.26,-121.45,1.156
20633,2.5495,27.0,5.445026,1.078534,1082.0,2.832461,39.19,-121.53,0.983
20634,3.7125,28.0,6.779070,1.148256,1041.0,3.026163,39.27,-121.56,1.168
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [37]:
# random 10 rows
data.sample(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
10830,5.5000,16.0,5.097324,1.094891,963.0,2.343066,33.66,-117.94,2.241
11725,4.1364,24.0,23.547368,5.168421,264.0,2.778947,39.27,-120.04,1.545
15895,2.6364,48.0,4.182584,0.915730,1115.0,3.132022,37.73,-122.40,1.993
17132,2.4375,27.0,3.165060,1.139535,4165.0,2.362450,37.46,-122.14,1.890
11545,5.2001,16.0,6.118893,1.058632,1291.0,2.102606,33.75,-118.04,2.356
20543,1.7311,33.0,3.882852,1.029994,3717.0,2.103565,38.55,-121.74,1.826
14219,5.4863,16.0,6.414201,1.014793,1589.0,4.701183,32.67,-117.05,1.538
9578,1.8939,28.0,5.711640,1.100529,1283.0,3.394180,37.26,-120.49,0.830
15604,6.6361,17.0,7.557562,1.085779,1222.0,2.758465,32.82,-116.75,3.086
7303,2.8214,40.0,3.771318,1.054264,1257.0,4.872093,33.98,-118.19,1.580

In [40]:
list(data.columns)

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude',
 'MedHouseVal']

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [42]:
data.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [47]:
print(data.MedInc.mean())
print(data.MedInc.median())
print(data.MedInc.mode())
prdata.MedInc.sum()
data.MedInc.count()

3.8706710029069766

20640